.add-image, .add-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background-color: $pink-bright;
    text-align: start;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    .image-data {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    .image, .video {
        width: 100%;
        max-width: 300px;
        margin-bottom: 30px;
        border-radius: 30px;
    }

    .image-mood {
        display: flex;
        flex-wrap: wrap;
        width: 100px;
        gap: 10px;
        margin: 0 10px;
        .face {
            width: 42%;
            border-radius: 100px;
            cursor: pointer;
        }

        .face.selected {
            border: 2px solid $brown-spot;
        }
    }

    .weight, .height {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $brown-spot;

        .title {
            text-align: center;
            opacity: 0.7;
            text-transform: uppercase;
        }

        .units {
            font-size: 1.5em;
            background: none;
            width: 70px;
            text-align: center;
            border: none;
            color: $brown-spot;
            font-weight: bold;
            text-indent: 10px;
        }
    }
    
    
    .close {
        align-self: end;
        background: none;
        border: none;
        color: $brown-spot;
        font-size: 1.5em;
        height: 15%;
        cursor: pointer;
    }
}