@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');

$pink-light: #FFFBF9;
$pink-bright: #FFF1EC;
$pink-spot: #F4C9C0;

$green-spot: #A7B89E;
$green-dark: #8A9982;

$brown-light: #C7ABA6;
$brown-spot: #816661;
$brown-dark: #574542;

$purple-spot: #695672;

$red-bright: orangered;
$red-spot: crimson;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito, arial;
    
    @media (max-width: 500px){
        cursor: default !important;
    }
}

body {
    background: $pink-bright;
}



h1 {
    color: $brown-spot;
    font-size: 30px;
}

h2 {
    color: $brown-spot;
}

h3 {
    font-size: 16px;
    color: $brown-spot;
}

p {
    font-size: 14px;
}

.logo {
    width: 70px;
}


.button-brown {
    display: inline-block;
    padding: 10px 35px;
    background: linear-gradient(to bottom, $brown-spot, $brown-dark);
    border-radius: 25px;
    color: $pink-spot;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.button-green {
    display: inline-block;
    padding: 10px 35px;
    background: linear-gradient(to bottom, $green-spot, $green-dark);
    color: $pink-light;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.button-red {
    display: block;
    padding: 10px 35px;
    background: linear-gradient(to bottom, $red-bright, $red-spot);
    color: $pink-light;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: -20px;
    padding: 10px 40px;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}


.button-outline {
    padding: 10px 15px;
    background: transparent;
    border: 2px solid $green-dark;
    border-radius: 25px;
    color: $green-dark;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background: $green-dark;
        color: $pink-bright;
    }
}

.delete-btn {
    min-width: 50px;
    height: 50px;
    background: $pink-spot;
    border: none;
    box-shadow: 0 0 5px 2px $brown-spot;
    border-radius: 20px;
    font-size: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $brown-spot;
    cursor: pointer;
}



.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    background: $pink-spot;

    @media (max-width: 768px){
        flex-direction: column;
        gap: 10px;
        text-align: center;

        p {
            max-width: 200px;
        }
    }
}

.loader {
    width: 100px;
    aspect-ratio: 1;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    background: #fff;
    filter: blur(5px) contrast(10) hue-rotate(40deg);
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .loader:before,
  .loader:after{ 
    content: "";
    grid-area: 1/1; 
    width: 40px;
    height: 40px;
    background: brown;
    animation: l7 2s infinite;
  }
  .loader:after{ 
    animation-delay: -1s;
  }
  @keyframes l7{
    0%   {transform: translate(   0,0)}
    25%  {transform: translate(100%,0)}
    50%  {transform: translate(100%,100%)}
    75%  {transform: translate(   0,100%)}
    100% {transform: translate(   0,0)}
  }