.kids-progress {
    padding-top: 50px;
    min-height: 100vh;
    color: $brown-spot;

    .show-date {
        margin-top: 30px;
    }
    
    .icon {
        position: absolute;
        padding: 15px;
        padding-bottom: 5px;
        font-size: 25px;
        justify-self: flex-end;
        transform: rotate(180deg);

        &:hover {
          cursor: pointer;
          color: $pink-spot;
        }
    }
    
    form {
        display: flex;
        justify-content: center;
        gap: 20px;

        input {
            width: 50%;
            margin: 30px 0;
        }
    }
}

.progress {
    .title {
        opacity: 0.5;
        text-transform: uppercase;
        margin: 5px;
        margin-top: 30px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        max-width: 600px;
        padding: 30px;
        border: 2px solid $pink-spot;
        border-radius: 30px;
        margin: auto;
        background: linear-gradient(to bottom, $pink-bright, $pink-spot);

        img {
            width: 100%;
        }

        .units {
            font-size: 1.5em;
        }
    }


    .moods {
        flex-direction: row;
        flex-wrap: wrap;
        .no-face, .face {
            display: inline-block;
            background: $green-spot;
            width: 30px;
            height: 30px;
            border: 2px solid $green-spot;
            border-radius: 30px;
        }
    }
}