a {
    text-decoration: none
}

.landing-header {
    background: $pink-spot;
    min-height: 100vh;

    h1 {
        max-width: 450px;
        margin: 50px auto;
    }
    
    h2 {
        max-width: 350px;
        margin: 50px auto;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }


    .cover {
        width: 100%;
        max-width: 450px;
        object-fit: cover;
        margin-top: -230px;
        margin-bottom: -30px;
        opacity: 0;
        transform: translateY(-300px);
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        text-align: center;
    }
}

.memories-options {
    background: $pink-light;
    padding-top: 50px;
    position: relative;
    z-index: 1;

    h2 {
        max-width: 450px;
        margin: auto;
        text-align: center;
    }
    
    .option {
        border: 2px solid $pink-spot;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 30px;
        background: linear-gradient(to bottom, $pink-light, $pink-bright);
        max-width: 450px;
        margin: 30px auto;

        img {
            width: 64px;
            height: 50px;
            object-fit: contain;
            transition: 0.3s;
        }

        .option-content {
            text-align: start;
        }

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }
    }
}

.memories-options-bottom {
    text-align: center;
    background: url("landing/cover-2.png");
    padding: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    h2 {
        max-width: 450px;
        margin: 0;
        margin-bottom: 30px;;
    }
}