.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .note {
        background: linear-gradient(to bottom, $pink-bright, $pink-spot);
        border: 2px solid $pink-spot;
        border-radius: 20px;
        padding: 20px;
        text-align: start;
        cursor: pointer;
        width: 31%;
        min-width: 200px;

        .note-text {
            opacity: 0.5;
        }
    }
}

.selected-note, .add-note {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: $pink-spot;
    text-align: start;
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */

    .container {
        display: flex;
        flex-direction: column;
    }


    .note-title {
        color: $brown-spot;
        font-size: 1.5em;
        background: none;
        border: none;
        outline: none;
        font-weight: 500;
        resize: none;
        min-height: 50px;
        width: 100%;
    }

    .note-date {
        opacity: 0.5;
        font-size: 0.8em;
        margin: 15px 0;
        background: none;
        border: none;
        outline: none;
    }

    .note-text {
        line-height: 25px;
        background: none;
        border: none;
        outline: none;
        resize: none;
        min-height: 100px;
        margin-bottom: 30px;
        width: 100%;
    }
}

.selected-note .header, .add-note .header {
    height: 100px;
    text-align: start;

    button {
        font-size: 2em;
        color: $brown-spot;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
    }
}

.selected-note {

    .container {
        min-height: 100vh;
    }
    nav {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: end;
    
        button {
            width: 50px;
            height: 50px;
            background: $pink-spot;
            border: none;
            box-shadow: 0 0 5px 2px $brown-spot;
            border-radius: 50px;
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $brown-spot;
            cursor: pointer;
        }
    
        button.hidden {
            visibility: hidden;
        }
    }
}


@media (max-width: 500px){
    .notes .note {
        width: 100%;
    }
}